@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
    background-color: #ffffff;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.275rem;
    color: var(--bs-emphasis-color);
}

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    background: var(--bs-dark);
    transition: all 0.35s ease-in-out;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background: #ffffff;
}

.sidebar-logo {
    padding: 1.15rem;
}

.sidebar-logo a {
    color: #e9ecef;
    font-size: 1.15rem;
    font-weight: 600;
}

.card {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 24px;
    border-radius: 10px;
}

.card h4 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.card p.text-muted {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.card p.text-muted.small {
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

.kwh-text {
    font-size: 1rem;
    color: gray;
}

.divider {
    border-bottom: 1px solid #999;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.card-body p {
    font-size: 0.75rem;
}

.card-body h4 {
    font-size: 1.5rem;
    color: gray;
}