@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    margin: 0;
    background-color: #f8f9fa;
    color: #343a40;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.275rem;
    color: #343a40;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 270px;
    min-width: 270px;
    background: #343a40;
    color: #fff;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

#sidebar .sidebar-logo {
    padding: 1.5rem;
    background: #495057;
    text-align: center;
}

#sidebar .sidebar-logo a {
    color: #e9ecef;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 1px;
}

#sidebar ul.nav {
    padding-top: 1rem;
    margin-top: 0;
}

#sidebar ul.nav li.nav-item {
    padding: 0.5rem 1rem;
}

#sidebar ul.nav li.nav-item a {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    color: #e9ecef;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

#sidebar ul.nav li.nav-item a:hover {
    background: #495057;
    color: #ffffff;
    border-radius: 5px;
}

#sidebar ul.nav li.nav-item a i {
    margin-right: 10px;
}

#sidebar ul.nav li.nav-item.active a {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
}

#sidebar #sidebar-toggle {
    background: none;
    border: none;
    font-size: 1.25rem;
    color: #e9ecef;
    padding: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#sidebar #sidebar-toggle:hover {
    color: #007bff;
}

#sidebar.collapsed {
    min-width: 0;
    max-width: 0;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
    background: #ffffff;
}

.card {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 24px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h4 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.card p.text-muted {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.card p.text-muted.small {
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

.kwh-text {
    font-size: 1rem;
    color: gray;
}

.divider {
    border-bottom: 1px solid #999;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.card-body p {
    font-size: 0.75rem;
}

.card-body h4 {
    font-size: 1.5rem;
    color: gray;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}